
@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/assets/book/Schedule.css">

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div id="Content">
    <div class="content_wrapper clearfix">

        <!-- .sections_group -->
        <div class="sections_group">

            <div class="entry-content" itemprop="mainContentOfPage">

                <div class="section mcb-section   " style="padding-top:0px; padding-bottom:30px; background-color:#ffffff">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one  valign-top clearfix" style="padding:0 10%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column  column-margin-20px">
                                    <div class="column_attr clearfix align_center" style="">
                                        <img class="scale-with-grid" src="/wp-content/uploads/2018/06/sto-nino-de-cebu-icon.png" alt="">
                                        <hr class="no_line" style="margin: 0 auto 5px;">

                                        <h1><span>SPECIAL MASS SCHEDULE</span></h1>
                                        <h5><i>Make time to worship the Lord and thank him for every blessing being poured down on us.</i></h5>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wrap mcb-wrap one-second bsn-schedules-1 column-margin-0px valign-top clearfix" style="">
                        
                        </div><div class="wrap mcb-wrap one-second bsn-schedules-2 column-margin-0px valign-top clearfix" style="">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column  column-margin-20px">
                                    <div class="column_attr clearfix" style="">
                                        <table>
                                            <tbody>
                                                <tr class="bsn-table-heading" style="padding: 5px; background-color: #d40100 !important;">
                                                    <td colspan="4" width="463"><h3><span style="font-size: 82%;">SUNDAYS &amp; HOLY DAYS OF OBLIGATION</span></h3></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" width="211"><h4 style="text-align: center; margin:0;padding: 3px 0;"><b>MORNING</b></h4></td>
                                                    <td colspan="2" width="252"><h4 style="text-align: center; margin:0; padding: 3px 0;"><b>AFTERNOON</b></h4></td>
                                                </tr>
                                                <tr>
                                                    <td width="73"><b>5:30</b></td>
                                                    <td width="138">CEBUANO</td>
                                                    <td width="78"><b>4:30</b></td>
                                                    <td width="174">ENGLISH</td>
                                                </tr>
                                                <tr>
                                                    <td width="73"><b>8:00</b></td>
                                                    <td width="138">CEBUANO</td>
                                                    <td width="78"><b>5:30</b></td>
                                                    <td width="174">CEBUANO (LIVE ONLINE)</td>
                                                </tr>
                                                <tr>
                                                    <td width="73"><b>9:30</b></td>
                                                    <td width="138">ENGLISH (LIVE STREAM)</td>
                                                    <td width="78"><b>7:00</b></td>
                                                    <td width="174">CEBUANO</td>
                                                </tr>
                                              
                                            </tbody>
                                        </table>
                                    </div>
                                </div><div class="column mcb-column one column_column  column-margin-20px">
                                    <div class="column_attr clearfix" style="">
                                        <table>
                                            <tbody>
                                                <tr class="bsn-table-heading" style="padding: 5px; background-color: #d40100 !important;">
                                                    <td colspan="4" width="463"><h3><span style="font-size: 82%;">WEEKDAY MASSES</span></h3></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" width="211"><h4 style="text-align: center; margin:0;padding: 3px 0;"><b>MORNING</b></h4></td>
                                                    <td colspan="2" width="252"><h4 style="text-align: center; margin:0; padding: 3px 0;"><b>AFTERNOON</b></h4></td>
                                                </tr>
                                                <tr>
                                                    <td width="73"><b>5:30</b></td>
                                                    <td width="138">ENGLISH</td>
                                                    <td width="78"><b>5:30</b></td>
                                                    <td width="174">CEBUANO</td>
                                                </tr>
                                                
                                                <tr></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wrap mcb-wrap one  valign-top clearfix" style="">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_divider ">
                                    <hr class="no_line" style="margin: 0 auto 50px;">
                                </div><div class="column mcb-column one column_column  column-margin-10px">
                                    <div class="column_attr clearfix align_center" style=" padding:0 15%;">
                                        <h6 style="line-height: 28px;">
                                            “What you see is the bread and the chalice; that is what your own eyes report to you. But what your faith obliges you to accept is that
                                            <b>THE BREAD IS THE BODY OF CHRIST AND THE CHALICE [WINE] THE BLOOD OF CHRIST</b>”<br>  <i>-- St. Augustine, Sermons 272</i>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="section the_content no_content"><div class="section_wrapper"><div class="the_content_wrapper"></div></div></div>
                <div class="section section-page-footer">
                    <div class="section_wrapper clearfix">

                        <div class="column one page-pager">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
